.container > h1,
.search > button,
.main-data > h1,
.main-data > .main-weather,
.main-data > .description,
.extra-info > p,
.inner-container > h1{
    font-family: 'Roboto Flex', sans-serif;
    color: var(--white);
}
.container > h1{
    text-align: center;
    padding-top: 2%;
    font-size: 30px;
    color: var(--light-purple);
    font-weight: bold;
}
.search > button{
    color: var(--purple);
}
.main-data > .temperature{
    font-weight: bold;
    font-size:33px;
    color: var(--white)
}
.main-data > .main-weather{
    font-size: 23px;
}
.main-data > .description{
    font-size: 14px;
    font-weight: lighter;
}
.extra-info > p {
    font-size: 15px;
    font-weight: lighter;
}
.inner-container > h1{
    margin: 0 auto;
    color: var(--light-purple);
    font-size: 20px;
    font-weight: bold;
}